.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Blur the background */
  background-color: rgba(0, 0, 0, 0.3); /* Transparent dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.search-bar-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  z-index: 10;
}

/* Optional: Prevent body from scrolling when popup is open */
body.popup-open {
  overflow: hidden;
}
