.archive-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  max-width: 100vw;
  margin: 0 auto;
}

.archive-title {
  font-size: 50px;
  line-height: 80px;
  font-style: italic;
  color: white;
}

.back-button {
  background-color: #14181c;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  font-size: small;
  align-self: flex-end;
  margin-bottom: 10px;
  border: 2px solid #445566;
}


.archive-link {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  font-style: italic;
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
  width: 400px;
  max-width: 100vw;
  padding: 2rem;
  overflow: scroll;
  justify-content: end;
  max-height: 80vh;
}

.tile {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
  box-shadow: 0 4px 10px black;
}
.tile.current {
  color: #445566;
  border: 2px solid #445566;
}

.tile:active, .back-button:active {
    transform: scale(0.95);
}

