.logo-img {
    padding-top: 20px;
    width: 85%;
}

.game-info-bar {
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 5px;
}

.instructions-button, .swap-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.swap-icon:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

.hint-counter {
    border: 2px solid #445566;
    border-radius: 5px;
    padding: 2px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    vertical-align: middle;
    color: white;
}

.hint-manager-toggle-enter {
    opacity: 0;
    transform: translateY(-10px);
}
.hint-manager-toggle-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
}
.hint-manager-toggle-exit {
    opacity: 1;
    transform: translateY(0);
}
.hint-manager-toggle-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms ease, transform 300ms ease;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.gameOverPopup {
  background: #445566;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.gameOverPopup h2 {
  margin-top: 0;
}

.gameOverPopup button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.gameOverPopup button:hover {
  background: #555;
}








