.hint-manager {
  max-width: 350px;
  margin: 0 auto;
}

.close-button {
  width: 50px;
  transition: transform 0.5 ease;
  cursor: pointer;
  display: inline-block;
}
.close-button:hover {
  transform: rotate(10deg);
}
.close-button:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

.name-title {
  font-size: 2;     
  color: white;
  flex: 1;
  text-align: left;
  padding-left: 10px;
}

.title-bar {
  background-color: #445566;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
}


.hint-box {
    max-width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;                               /* spacing between items */
    padding: 10px;
}

.hint-picture {
  width: 100%;              
  height: auto;             
  object-fit: cover;        
  border-radius: 8px;       
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); 
}

