
.popup {
  background:  #20272e;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  height: 85vh;
  width: 475px;
  max-width: 100vw;;
  align-self: flex-end;
  overflow: scroll;
  border-radius: 12px;
}
.popup.instructions {
  text-align: left;
}
.popup.gameover {
  text-align: center;
}

.popup hr {
  color: #445566;
  margin: 5px;
}

.popup h2 {
  margin-top: 0;
}

.final-score {
  font-size: 50px;
}

.close-instructions-icon {
  float: right;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.close-instructions-icon:hover {
  transform: rotate(10deg);
}
.close-instructions-icon:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

.popup-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
  width: 80%;
  margin: 0 auto;
  color: white;
  clear: right;
}

.long-chain {
    height: 300px;
}

.short-chain {
    width: 183px;
}

.icon-example {
  max-width: 25px;
  max-height: 25px;
  vertical-align: middle;
}