
.node-rows-wrapper {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*define the number of column*/
  grid-auto-flow: dense; /* this is important to fill all the space*/
  grid-row-gap: 10px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  /* border: 2px solid red;
  border-radius: 5px; */
}

@keyframes wave-animation {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-30px); }
  40%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.item.win-animation {
  animation-name: wave-animation;
}

.item {
  background: transparent;
  width: 100%;
  /* height: 100%;  */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* overflow: hidden; */
  flex-direction: column;
}

.item img {
  border-radius: 8px;
}

.item.node {
  position: relative;
  display: inline-block;
}
.item.node img {
  max-width: 100%;
  object-fit: contain;
  display: block;
  opacity: 0;
}

.item.node.true img {
  box-shadow: 0 0 8px 1px #21e7acff, 0 0 3px 1px #21e7acff inset;
}

.item.connector {
  overflow: visible;
}

.item.connector img {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  align-items: center;
}

.item.connector.align-bottom {
  justify-content: flex-end;
}

.item:nth-child(10n + 2) img {
  margin-left: 3px; 
  margin-top: 15px;
  animation-delay: 0.08s;
}

.item:nth-child(10n + 3) img {
  margin-top: 10px;
  animation-delay: 0.16s;
}

.item:nth-child(10n + 4) img {
  margin-left: 3px; 
  margin-top: 30px;
  animation-delay: 0.24s;
}

.item:nth-child(10n + 5) img {
  margin-top: 20px;
  animation-delay: 0.32s;
}

.item:nth-child(10n + 6) {
  grid-column: 5;
}
.item:nth-child(10n + 6) img {
  margin-top: -7px;
}

.item:nth-child(10n + 7) {
  grid-column: 4;
}
.item:nth-child(10n + 7) img {
  margin-top: 10px;
}

.item:nth-child(10n + 8) {
  grid-column: 3;
}
.item:nth-child(10n + 8) img {
  margin-top: 25px; 
  margin-left: 4px
}


.item:nth-child(10n + 9) {
  grid-column: 2;
}
.item:nth-child(10n + 9) img {
  margin-top: 20px;
}

.item:nth-child(10n + 10) img {
  margin-bottom: -7px;
}


