.delete-button {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
  opacity: 70%;
}

.hint-button {
  position: absolute;
  top: 60px;
  right: 35px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 2;
  opacity: 70%;
}

.node-image.true {
  box-shadow: 0 0 8px 1px #21e7acff, 0 0 3px 1px #21e7acff inset;
}

.node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
}
