.delete-button {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
  opacity: 70%;
}

.hint-button {
  position: absolute;
  top: 60px;
  right: 35px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 2;
  opacity: 70%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Blur the background */
  background-color: rgba(0, 0, 0, 0.3); /* Transparent dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.search-bar-container {
  position: fixed;
  top: 20%;
  left: 40%;
  transform: translateX(-50%);
  width: 50vw;
  z-index: 10;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}


/* Optional: Prevent body from scrolling when popup is open */
body.popup-open {
  overflow: hidden;
}

.node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
}
