.NodeManager {
  border: 2px solid #445566;
  border-radius: 5px;
  width: 375px;
  max-width: 100vw;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); 
}

.search-bar-container {
  width: 70vw;
  margin: 0 auto;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  padding-top: 20vh;
  justify-content: center;
  z-index: 1000;
}


body.popup-open {
  overflow: hidden;
}

.node-rows-wrapper {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense; 
  grid-row-gap: 10px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
}

.item {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item img {
  border-radius: 8px;
  animation: fade-in 2s forwards;
  opacity: 0;
}

.item.node {
  position: relative;
  display: inline-block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.item.node img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.item.connector {
  overflow: visible;
}

.item.connector img {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  align-items: center;
}

.item.connector.align-bottom {
  justify-content: flex-end;
}

.item:nth-child(10n + 2) img {
  margin-left: 3px; 
  margin-top: 15px;
}

.item:nth-child(10n + 3) img {
  margin-top: 10px;
}

.item:nth-child(10n + 4) img {
  margin-left: 3px; 
  margin-top: 30px;
}

.item:nth-child(10n + 5) img {
  margin-top: 20px;
}

.item:nth-child(10n + 6) {
  grid-column: 5;
}
.item:nth-child(10n + 6) img {
  margin-top: -5px;
  margin-left: 5px;
}

.item:nth-child(10n + 7) {
  grid-column: 4;
}
.item:nth-child(10n + 7) img {
  margin-top: 10px;
}

.item:nth-child(10n + 8) {
  grid-column: 3;
}
.item:nth-child(10n + 8) img {
  margin-top: 25px; 
  margin-left: 4px
}


.item:nth-child(10n + 9) {
  grid-column: 2;
}
.item:nth-child(10n + 9) img {
  margin-top: 20px;
}

.item:nth-child(10n + 10) img {
  margin-bottom: -7px;
}


