.delete-button {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 20px;
  cursor: pointer;
  z-index: 2;
  opacity: 70%;
  transition: transform 0.2s ease;
  display: inline-block;
}
.delete-button:hover {
  transform: rotate(10deg);
}
.delete-button:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px black;
}

.hint-button {
  position: absolute;
  top: 60px;
  right: 38px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 2;
  opacity: 70%;
  transition: transform 0.2s ease;
  display: inline-block;
}
.hint-button:hover {
  transform: rotate(10deg);
}
.hint-button:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px black;
}

.node-image.true {
  box-shadow: 0 0 8px 1px #21e7acff, 0 0 3px 1px #21e7acff inset;
}

.node-image {
  box-shadow: 0 2px 6px black;
}

.node-image.clickable {
  transition: transform 0.1s ease, box-shadow 0.1 ease;
  cursor: pointer;
}
.node-image.clickable:active {
    transform: scale(0.95);;
}

.node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
}
