
.node-rows-wrapper {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*define the number of column*/
  grid-auto-flow: dense; /* this is important to fill all the space*/
  grid-row-gap: 10px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  /* border: 2px solid red;
  border-radius: 5px; */
}

.item {
  background: transparent;
  width: 100%;
  /* height: 100%;  */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* overflow: hidden; */
  flex-direction: column;
}

.item img {
  border-radius: 8px;
}

.item.node img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}


.item.node.true img {
  box-shadow: 0 0 8px 1px #21e7acff, 0 0 3px 1px #21e7acff inset;
}

/* .item.node.false{
  box-shadow: 0 0 6px 1px #ff0000, 0 0 3px 1px #ff0000 inset;
} */

.item.connector {
  overflow: visible;
}

.item.connector img {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  align-items: center;
}

/* .item.connector.rotate {
  transform: rotate(20deg);
} */

.item.connector.align-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

/* .item.connector.align-bottom img {
  margin-bottom: -15px;
  z-index: 2;
} */

.item.connector.align-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

/* .item.connector.align-top img {
  margin-top: -15px;
  z-index: 2;
} */


.item:nth-child(10n + 2) img {margin-left: 3px; margin-top: 15px;}

.item:nth-child(10n + 3) img {margin-top: 10px;}

.item:nth-child(10n + 4) img {margin-left: 3px; margin-top: 30px;}

.item:nth-child(10n + 5) img {margin-top: 20px;}

.item:nth-child(10n + 6) {grid-column: 5;}
.item:nth-child(10n + 6) img {margin-top: -7px;}

.item:nth-child(10n + 7) {grid-column: 4;}
.item:nth-child(10n + 7) img {margin-top: 10px;}

.item:nth-child(10n + 8) {grid-column: 3;}
.item:nth-child(10n + 8) img {margin-top: 25px; margin-left: 4px}


.item:nth-child(10n + 9) {grid-column: 2;}
.item:nth-child(10n + 9) img {margin-top: 20px;}

.item:nth-child(10n + 10) img {margin-bottom: -7px;}


