
.popup {
  background: #20272e;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  height: 85vh;
  max-width: 100vw;
  width: 400px;
  min-width: 50vw;
  align-self: flex-end;
  border-radius: 12px;
}
.popup.instructions {
  text-align: left;
  overflow: scroll;
}
.popup.gameover {
  text-align: center;
  overflow:visible;
}

.popup p, .popup p, .popup h2, .popup button {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  padding-top: 20vh;
  justify-content: center;
  z-index: 1000;
}
body.popup-open {
  overflow: hidden;
}

.popup-toggle-enter {
    opacity: 0;
    transform: translateY(100px);
}
.popup-toggle-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
}
.popup-toggle-exit {
    opacity: 1;
    transform: translateY(0);
}
.popup-toggle-exit-active {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 300ms ease, transform 300ms ease;
}


.trophy {
  max-height: 30vh;
}

.final-score {
  font-size: 33px;
  border: 2px solid #FFBD2F;
  border-radius: 12px;
  margin-top: 15px;
  padding: 8px;
  display: inline-block;
  box-shadow: 0 0 8px 1px #FFBD2F, 0 0 3px 1px #FFBD2F inset; /*21e7acff*/
}

.share-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 15px;
  border-radius: 12px;
  cursor: pointer;
  width: 130px;
  text-align: center;
  white-space: nowrap;
  font-size: small;
  margin-bottom: 10px;
}
.share-button.copied, .share-button:hover {
  background-color: white;
  color: #20272e;
}

.close-popup-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 7%;
  /* float: right; */
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 10px;
}
.close-popup-icon:hover {
  transform: rotate(10deg);
}
.close-popup-icon:active {
    transform: rotate(10deg) scale(0.95);
}

.popup-text {
  line-height: 2;
  width: 80%;
  margin: 0 auto;
  clear: right;
}

.popup-text h2 {
  margin-top: 15px;
}


.icon-example {
  max-width: 25px;
  max-height: 25px;
  vertical-align: middle;
}

.gameover-popup {
  background: #445566;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.gameover-popup h2 {
  margin-top: 0;
}

.gameover-popup button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.gameover-popup button:hover {
  background: #555;
}