
.App {
  background-color: #14181c;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.logo-img {
  padding-top: 20px;
  width: 330px;
}

.game-container {
  background-image: linear-gradient(#14181c, rgb(13, 13, 17));
  height: 812px;
  /* min-height: 100vh; */
  width: 375px;
  margin: 0 auto;
  border: 5px solid #445566;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.gameOverPopup {
  background: #445566;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.gameOverPopup h2 {
  margin-top: 0;
}

.gameOverPopup button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.gameOverPopup button:hover {
  background: #555;
}








